* {
    margin: 0px;
    border: 0px;
}
.manus-container {
    background-color: rgb(15, 15, 15);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo {
    width: 120px;
}
.manus {
    display: flex;
    gap: 20px;
}
.item {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.item:hover{
    color: aquamarine;
}
.banner-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    border: 2px solid gray;
    color : white;
    align-items: center;
    background-image: url("./images/background.png"), linear-gradient(45deg, rgb(29, 26, 26), rgb(15, 14, 14));
}
.banner-img {
    width: 300px;
}
.title {
    font-size: 50px;
    font-weight: bold;
}
